// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

.switch-wrapper {
  position: relative;
}

.switch-wrapper > div {
  position: absolute;
}


button,input:focus, textarea:focus, select:focus{
  outline: none;
}

html {
  scroll-behavior: smooth;
}

body{
  color: $white;
  background-color: $dark-purple;
  font-family: 'Open Sans', sans-serif;
  background-size: cover;
  background-position:top center;
  background-image: url('./assets/images/content-area-bg.jpg');
}

#be-epic-wrapper{
  position: relative;
  transition-duration: 0.5s;
  left:0;
  overflow-x: hidden;
  &.is-active{
    overflow: hidden;
  }
  @include media-breakpoint-up(md) {
    &.is-active{
      left: 33%;
    }
  }
}

.section-block{
  margin-left:78px;
  position: relative;
  @include media-breakpoint-down(sm) {
    margin-left:0;
  }
}
.content-container{
  margin-left: 5%;
  position: relative;
  padding-right: 10%;
  position: relative;
  @include media-breakpoint-down(md) {
    margin-left:0;
    padding-left:50px;
  }
  @include media-breakpoint-down(sm) {
    padding-left:15px;
  }
  &.on-hero{
    position: absolute;
    bottom: 5%;
    left: initial;
    margin-left: 3%;
  }
}

.section-date-label{
  transform: rotate( -90deg ) translateY(-50%);
  display: inline-block;
  transform-origin: left;
  left: auto;
  bottom: 50%;
  position: absolute;
  text-shadow: 0 0 4px #fff;
  span{
    font-weight: bold;
  }
  @include media-breakpoint-down(sm) {
    transform: none;
    left: 0;
    top: 10px;
    padding: 15px;
  }
}


.page {
  position: absolute;
  left: 15px;
  right: 15px;
}

.page-enter {
  opacity: 0;
  transform: scale(1.1);
}

.page-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 300ms, transform 300ms;
}

.page-exit {
  opacity: 1;
  transform: scale(1);
}

.page-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}


// Bonus
.list-page{
  .content-container{
    @include media-breakpoint-up(sm) {
      margin-left:0;
      padding-right: 0;
    }
  }
}
.list-page-header{
  background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/0311a529-e171-4fea-bfe7-425f7001596f/defxl3d-581cbd2c-75c6-4b78-a803-f47e9b029c9c.png/v1/fill/w_1024,h_513,q_80,strp/peaceful_place_by_avryb_defxl3d-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3siaGVpZ2h0IjoiPD01MTMiLCJwYXRoIjoiXC9mXC8wMzExYTUyOS1lMTcxLTRmZWEtYmZlNy00MjVmNzAwMTU5NmZcL2RlZnhsM2QtNTgxY2JkMmMtNzVjNi00Yjc4LWE4MDMtZjQ3ZTliMDI5YzljLnBuZyIsIndpZHRoIjoiPD0xMDI0In1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmltYWdlLm9wZXJhdGlvbnMiXX0.xev_RjMeJJCIEMni9BtvnC7mvHUqZTN8KjvZmBgWK4w');
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  text-shadow: 0 0 15px #000;
  height: 80vh;
  width: 100%;
  margin: 0;
  h1{
    position: absolute;
    bottom: 0px;
    left: 130px;
    @include media-breakpoint-down(sm) {
      left: 30px;
    }
  }
  &.benderRick{
    h1{
      text-shadow: 0 0 15px #fff;
    }
    background-image: url('https://c4.wallpaperflare.com/wallpaper/612/404/904/tv-show-crossover-bender-futurama-futurama-rick-sanchez-hd-wallpaper-preview.jpg');
  }
}