// -----------------------------------------------------------------------------
// This file contains our colour pallette
// -----------------------------------------------------------------------------

$white: #fff;
$blue: #0c4b5c;
$dark-blue: #102739;
$purple: #3a004c;
$dark-purple: #130327;
$grey: #6b6f72;
$black: #0e0c17;
$red: #b9183a;
$dark-pink:#e75480;